extends layout

block content
	.col-md-2
	.col-md-6
		if entries
			p
			each u in entries
				.panel.panel-primary
					.panel-heading
						.panel-title
							p #{u.headline}
					.panel-body
						p #{u.text}		
					.panel-footer
						p #{u.username} #{u.date}
		h2 Comments			

		if comm
			p
			each u in comm
				.panel.panel-default
					.panel-heading
						.panel-title
							p #{u.username}
							p #{u.date}					
					.panel-body		
							p #{u.comment}


		form(method="post")
			textarea(name="comment" class="form-control" rows="5" placeholder="Write your comment here")
			br
			button(type="submit" class="btn btn-primary") Comment