extends layout

block content
	.col-md-2
	.col-md-8
		if entries
			p
			each u in entries
				form(method="post")
					input.form-control(type="text",name="email",placeholder="email" value=u.email)
					br
					textarea(name="about" class="form-control" rows="10" placeholder="about me")
						| #{u.about}
					br
					input.form-control(type="text",name="phonenumber",placeholder="phonenumber" value=u.phonenumber)
					br
					input.form-control(type="text",name="contry",placeholder="country" value=u.country)
					br
					input.form-control(type="text",name="image_url",placeholder="image url" value=u.image)
					br
					select.form-control(name="selectrank" value=u.rank)
						option(value="") Pick your CS Global Offensive rank
						option(value="/silver1.png") Silver I
						option(value="/silver2.png") Silver II
						option(value="/silver3.png") Silver III
						option(value="/silver4.png") Silver IV
						option(value="/silverelite.png") Silver Elite
						option(value="/sem.png") Silver Elite Master
						option(value="/gn1.png") Gold Nova I
						option(value="/gn2.png") Gold Nova II
						option(value="/gn3.png") Gold Nova III
						option(value="/gnmaster.png") Gold Nova Master
						option(value="/mg1.png") Master Guardian I
						option(value="/mg2.png") Master Guardian II
						option(value="/mge.png") Master Guardian Elite
						option(value="/dmg.png") Distinguished Master Guardian
						option(value="/le.png") Legerndary Eagle
						option(value="/lem.png") Legendary Eagle Master
						option(value="/supreme.png") Supreme Master First Class
						option(value="/global.png") Global Elite
					br
					button(type="submit" class="btn btn-primary") edit
	.col-md-2