extends layout

block content
	.col.md-2
	.row


	.row
		.col-md-2
		.col-md-8
			.row
				.col-md-3
					.user-wrapper
						if entries
							p
							each u in entries
								img.img-responsive(src="/banner.jpg")
				.col-md-3
					if entries
						p
						each u in entries
							.description
								h3 About #{u.username}
								p Email: #{u.email}
								p Phonenumber: #{u.phonenumber}
				.col-md-6
					if entries
						p
						each u in entries
							h3 Biography:
							p #{u.about}
						
			br
			if entries
				p
				each u in entries
					h2 Posts by #{u.username}
			if posted
				p
				each u in posted
					a.container-fluid(href='/addcomment/'+ u.post_id)
						.panel.panel-primary
							.panel-heading
								p#text #{u.headline}
							.panel-body
								p#date #{u.date}
		.col-md-2
