extends layout

block content

	.col-md-2
	.col-md-8
	if entries
		p
		each u in entries
			.user-wrapper
				img.img-responsive(src="/banner.jpg")
			.description
				h4 #{u.username}
				p #{u.email}
			.description
				h3 #{u.phonenumber}
				p #{u.about}

		br
		if entries
			p
			each u in entries
				h2 Posts by #{u.username}
		if posted
			p
			each u in posted
				a.container-fluid(href='/addcomment/'+ u.post_id)
					.panel.panel-primary
						.panel-heading
							p#text #{u.headline}
						.panel-body
							p#date #{u.date}
	.col.md-2